SECRET_KEY=mi_llave_secreta_real
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=invera_database
DB_USER=invera_user
DB_PASSWORD=invera_password
DB_HOST=db
DB_PORT=5432

SECURE_HSTS_SECONDS=2592000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False